# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode
.vscode

# python
__pycache__
*.egg-info

# build
install
build
deps
app
app3
app_no_sgx
app3_no_sgx
key_server
keyservice_client
embed_server
embed_server_no_sgx
search_server
search_server_no_sgx
hakes_server
hakes_server_no_sgx

# test
tmp
data

# SGX
Enclave_u.h
Enclave_u.c
Enclave_t.h
Enclave_t.c
secret/ra_tls_options.c

# SGX mode copied over headers
search-worker/include/search-worker/trusted/intrinsics
search-worker/include/search-worker/trusted/omp.h
